@keyframes jump {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(-5px);
    }
}

.jumper {
    display: inline;
    transition: all;
    transition-delay: 900ms;
    animation: jump 2s ease infinite;
}