@keyframes jump {
    0%{
        color: azure;
    }
    50%{
        color: azure;
    }
    100%{
        color: #6581A6;
    }
}

.tinter {
    display: inline;
    transition: all;
    transition-delay: 900ms;
    animation: jump 2s ease infinite;
}